@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #001524;
  --color-secondary: #445D48;
  --color-accent: #D6CC99;
  --color-background: #FDE5D4;
  --color-foreground: #001524;
  --color-border: #445D48;
  --color-ring: #D6CC99;
}

.dark {
  --color-primary: #FDE5D4;
  --color-secondary: #D6CC99;
  --color-accent: #445D48;
  --color-background: #001524;
  --color-foreground: #FDE5D4;
  --color-border: #D6CC99;
  --color-ring: #445D48;
}

body {
  @apply bg-background text-foreground font-mono;
}
